<div class="row tituloscentrados">
  <h2>Tabla de Pipes</h2>
  <div class="col-md-9">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipes</th>
            <th scope="col">Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td>upperCase</td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
          </tr>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td>slice</td>
            <td>{{nombre | slice:2}}</td>
          </tr>
          <tr>
            <th scope="row">{{valorPi}}</th>
            <td>number</td>
            <td>{{valorPi | number:"1.0-2"}}</td>
          </tr>
          <tr>
            <th scope="row">{{valorPi}}</th>
            <td>number</td>
            <td>{{valorPi | number:"2.0-3"}}</td>
          </tr>
          <tr>
            <th scope="row">{{porcentaje}}</th>
            <td>porcentaje</td>
            <td>{{porcentaje | percent}}</td>
          </tr>
          <tr>
            <th scope="row">{{salario}}</th>
            <td>currency</td>
            <td>{{salario | currency}}</td>
          </tr>
          <tr>
            <th scope="row">{{salario}}</th>
            <td>currency</td>
            <td>{{salario | currency : 'EUR':true}}</td>
          </tr>
          <tr>
            <th scope="row">{{fecha}}</th>
            <td>fecha</td>
            <td>{{fecha | date:"MMM-dd-yyyy"}}</td>
          </tr>
          <tr>
            <th scope="row">{{fecha}}</th>
            <td>fecha</td>
            <td>{{fecha|date:"short"}}</td>
          </tr>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td>nombre</td>
            <td>{{nombre|mayuscula}}</td>
          </tr>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td>capitalizar</td>
            <td>{{nombre|capitalizar}}</td>
          </tr>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td>Boton</td>
            <td>
              <button class="btn btn-info" (click)="generarAlerta()">Alerta</button>

              <select name="selector" class="form.control" (change)="generarAlerta()">
                <option>Opcion 1</option>
                <option>Opcion 2</option>
                <option>Opcion 3</option>
              </select>            
            </td>
          </tr>
          <tr>
            <th scope="row">{{nombre}}</th>
            <td><button class="btn btn-info" (click)="oculataMostrar()">Mostrar/Ocultar</button></td>
            <td>{{nombre|oculatarMostra:ocultar}}</td>
          </tr>
          <tr>
            <th scope="row">Asyn Pipe</th>
            <td>Promesa</td>
            <td>{{valorPromesa|async}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div> 

<!--
  Ejercicio 2
  Crear pipe que se llamará activar contraseña 
  variable = 'Nombre'

  Activo = 'Mostrar Nombre'
  Desactivo = '**********'
-->

<!--Crea un pipe llamado capitalizar, va a recibir un nombre y va a tener un parametro number -->

<!--
  1->Volver todo mayuscula
  2-todo en minuscula
  3->'jHoN GueVarA' -> Jhon Guevara->Capitalizar
-->
  